<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Startseite</a></li>
		        	<li><a href="/about">Über uns</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jan.beninga@bitvice.de">email</a></li>
	        		<li><a href="https://github.com/beninga-it-service">github.com/beninga-it-service</a></li>
				</ul>
			</footer>
		</body>
	</html>
